._test_cases_nested_imports_should_be_first_first__a
{
  text-decoration: line-through;
}
._test_cases_nested_imports_should_be_first_first__b
{
  text-decoration: underline;
}
._test_cases_nested_imports_should_be_first_second__a
{
  text-decoration: overline;
}
._test_cases_nested_imports_should_be_first_third__a
{
  color: green;
}
._test_cases_nested_imports_should_be_first_third__b
{
  color: white;
}
._test_cases_nested_imports_should_be_first_source__a
{
  color: grey;
}
